@charset "UTF-8";
body {
  margin: 0px;
  font-family: "Noto Serif JP", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  letter-spacing: 0.05em;
  width: 100%;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
object,
iframe,
pre,
code,
p,
blockquote,
form,
fieldset,
legend,
table,
th,
td,
caption,
tbody,
tfoot,
thead,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.ussura {
  margin-bottom: 80px;
  max-width: 90%;
}
@media screen and (min-width: 768px) {
  .ussura {
    max-width: 1000px;
  }
}

body {
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body header {
  display: flex;
  position: fixed;
  z-index: 30;
  height: 90px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 17px;
  padding-right: 27px;
}
body header .logo-link {
  display: flex;
  align-items: center;
}
body header .logo-link img.logo {
  width: 30px;
  height: 30px;
}
body header .logo-link h1 {
  color: black;
  font-size: 32px;
  font-weight: bold;
}
body header .menu-icon .drawer_hidden {
  display: none;
}
body header .menu-icon .drawer_open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  cursor: pointer;
}
body header .menu-icon .drawer_open span,
body header .menu-icon .drawer_open span:before,
body header .menu-icon .drawer_open span:after {
  content: "";
  display: block;
  height: 1px;
  width: 34px;
  border-radius: 3px;
  background: #333;
  transition: 0.4s;
  position: absolute;
}
body header .menu-icon .drawer_open span:before {
  bottom: 12px;
}
body header .menu-icon .drawer_open span:after {
  top: 12px;
}
body header .menu-icon #drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}
body header .menu-icon #drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}
body header .menu-icon #drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}
body header .menu-icon #drawer_input:checked ~ .nav_content {
  left: 0;
}
@media screen and (min-width: 768px) {
  body header .menu-icon #drawer_input:checked ~ .nav_content {
    display: none;
  }
}
body header .menu-icon .nav_content {
  width: 100%;
  height: 100%;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 100%;
  z-index: 99;
  background: #fff;
  transition: 0.5s;
}
@media screen and (min-width: 768px) {
  body header .menu-icon .nav_content {
    display: flex;
  }
}
body header .menu-icon .nav_content .nav_list {
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: block;
  margin-top: 80px;
}
@media screen and (min-width: 768px) {
  body header .menu-icon .nav_content .nav_list {
    display: flex;
  }
}
body header .menu-icon .nav_content .nav_list a {
  list-style: none;
  line-height: 5;
  letter-spacing: 10px;
  text-decoration: none;
  display: block;
  color: black;
  font-family: "Noto Serif JP", serif;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
body header > ul.nav_list {
  display: none;
}
@media screen and (min-width: 768px) {
  body header {
    height: 128px;
    width: 100%;
  }
  body header .logo-link {
    display: flex;
    margin-left: 42px;
  }
  body header .logo-link img.logo {
    width: 100px;
    height: 100px;
  }
  body header .logo-link h1 {
    margin-left: 27px;
  }
  body header > ul.nav_list {
    display: flex;
    color: #333;
  }
  body header > ul.nav_list .nav_item a {
    color: #333;
    font-size: 20px;
    margin-top: 57px;
    margin-bottom: 57px;
    margin-right: 40px;
  }
  body header .menu-icon {
    display: none;
  }
  body header .nav_content {
    display: none;
  }
}
body section.fv {
  padding-top: 90px;
}
body section.fv .bg {
  display: flex;
  justify-content: center;
}
body section.fv .bg img {
  width: 100%;
  height: 750px;
  margin-bottom: 60px;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  body section.fv .bg img {
    max-width: 1200px;
    height: 450px;
    object-fit: cover;
    margin-top: 60px;
    margin-bottom: 120px;
  }
}
body section.about {
  display: flex;
  justify-content: center;
  align-items: center;
}
body section.about .inner {
  text-align: center;
  width: 90%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
}
@media screen and (min-width: 768px) {
  body section.about .inner {
    margin-bottom: 120px;
  }
}
body section.about .inner h2 {
  font-size: 26px;
  color: black;
  margin-bottom: 60px;
}
body section.about .inner p {
  font-size: 16px;
  color: black;
  line-height: 2;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  body section.about .inner p {
    margin-bottom: 80px;
  }
}
body section.about .inner img {
  width: 355px;
  height: 200px;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  body section.about .inner img {
    width: 1000px;
    height: 400px;
    object-fit: cover;
  }
}
body section.food .title {
  display: block;
  text-align: center;
}
body section.food .title h2 {
  font-size: 32px;
  margin-bottom: 60px;
}
body section.food .inner {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
}
body section.food .inner .food_course {
  justify-content: space-between;
  align-items: center;
}
body section.food .inner .food_course div {
  text-align: center;
  line-height: 1.4;
}
body section.food .inner .food_course .img-frame {
  position: relative;
  width: 100%;
  height: 195px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  body section.food .inner .food_course .img-frame {
    display: none;
  }
}
body section.food .inner .food_course .img-frame .img-01,
body section.food .inner .food_course .img-frame .img-02,
body section.food .inner .food_course .img-frame .img-03 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body section.food .inner .food_course .img-frame .img-01 img,
body section.food .inner .food_course .img-frame .img-02 img,
body section.food .inner .food_course .img-frame .img-03 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-items: center;
}
body section.food .inner .food_course .img-frame .img-01 {
  animation: slide-animation-01 24s infinite;
}
body section.food .inner .food_course .img-frame .img-02 {
  animation: slide-animation-02 24s infinite;
}
body section.food .inner .food_course .img-frame .img-03 {
  animation: slide-animation-03 24s infinite;
}
@keyframes slide-animation-01 {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    transform: scale(1.15);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slide-animation-02 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
    transform: scale(1.1);
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-animation-03 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
    transform: scale(1);
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}
body section.food .inner .launch {
  margin-bottom: 40px;
  align-items: center;
}
body section.food .inner .launch .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  body section.food .inner .launch .title {
    display: none;
  }
}
body section.food .inner .launch .text {
  font-size: 14px;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  body section.food .inner .launch .text {
    display: none;
  }
}
body .pc_food {
  display: none;
}
@media screen and (min-width: 768px) {
  body section.food {
    display: none;
  }
  body .pc_food {
    width: 90%;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    justify-content: center;
    align-items: center;
  }
  body .pc_food .title {
    display: block;
    text-align: center;
  }
  body .pc_food .title h2 {
    font-size: 26px;
    margin-bottom: 80px;
  }
  body .pc_food .pc_inner {
    display: block;
    margin-bottom: 100px;
  }
  body .pc_food .pc_inner .slick-slide {
    width: 1000px; /* スライドの幅を指定 */
    height: 350px; /* スライドの高さを指定 */
    overflow: hidden; /* 内容がはみ出た場合は隠す */
  }
  body .pc_food .pc_inner .slick-slide img {
    width: 100%; /* 画像の幅を親要素に合わせて100%に設定 */
    height: 100%; /* 画像の高さを親要素に合わせて100%に設定 */
    object-fit: cover; /* 画像を中央に配置し、アスペクト比を保ったまま切り取る */
  }
  body .pc_food .pc_course {
    margin-top: 80px;
    justify-content: space-between;
  }
  body .pc_food .pc_course .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  body .pc_food .pc_course .text {
    font-size: 16px;
    text-align: center;
    line-height: 2.2;
    margin-bottom: 60px;
  }
}

.guidance {
  width: 90%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
.guidance .title {
  text-align: center;
  margin-bottom: 60px;
}
.guidance .title p {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .guidance .title {
    text-align: center;
  }
  .guidance .title h2 {
    font-size: 26px;
  }
  .guidance .title p {
    font-size: 16px;
  }
}
.guidance .pc_inner {
  display: none;
}
@media screen and (min-width: 768px) {
  .guidance .pc_inner {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    justify-content: center;
  }
  .guidance .pc_inner .pc_image {
    display: block;
  }
  .guidance .pc_inner .pc_image .slick-slide {
    width: 1000px; /* スライドの幅を指定 */
    height: 350px; /* スライドの高さを指定 */
    overflow: hidden; /* 内容がはみ出た場合は隠す */
  }
  .guidance .pc_inner .pc_image .slick-slide img {
    width: 100%; /* 画像の幅を親要素に合わせて100%に設定 */
    height: 100%; /* 画像の高さを親要素に合わせて100%に設定 */
    object-fit: cover; /* 画像を中央に配置し、アスペクト比を保ったまま切り取る */
  }
}

.inner {
  justify-content: space-between;
}
.inner .guidance_course {
  align-items: center;
}
.inner .guidance_course .img-frame {
  position: relative;
  width: 100%;
  height: 195px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .inner .guidance_course .img-frame {
    display: none;
  }
}
.inner .guidance_course .img-frame .img-07,
.inner .guidance_course .img-frame .img-08,
.inner .guidance_course .img-frame .img-09 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.inner .guidance_course .img-frame .img-07 img,
.inner .guidance_course .img-frame .img-08 img,
.inner .guidance_course .img-frame .img-09 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-items: center;
}
.inner .guidance_course .img-frame .img-07 {
  animation: slide-animation-01 24s infinite;
}
.inner .guidance_course .img-frame .img-08 {
  animation: slide-animation-02 24s infinite;
}
.inner .guidance_course .img-frame .img-09 {
  animation: slide-animation-03 24s infinite;
}
@keyframes slide-animation-01 {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    transform: scale(1.15);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slide-animation-02 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
    transform: scale(1.1);
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-animation-03 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
    transform: scale(1);
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}
.inner .guidance_course .guidance_text {
  text-align: center;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .inner .guidance_course .guidance_text {
    margin-bottom: 100px;
  }
}
.inner .guidance_course .guidance_text .text_2 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .inner .guidance_course .guidance_text .text_2 {
    font-size: 18px;
  }
}
.inner .guidance_course .guidance_text .text_3 {
  font-size: 15px;
  line-height: 2;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .inner .guidance_course .guidance_text .text_3 {
    font-size: 16px;
  }
}
.inner .guidance_course .guidance_text .text_4 {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 40px;
}
.inner .guidance_course .guidance_text .text_1 {
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 80px;
}

.access {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
@media screen and (min-width: 768px) {
  .access {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
.access h2 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 60px;
}
.access .title {
  margin-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .access .title {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 768px) {
  .access .title iframe {
    width: 50%;
    max-height: 445px;
  }
}
.access .title .font {
  width: 100%;
  margin-left: 20px;
  line-height: 1.5;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .access .title .font {
    width: 50%;
  }
}
.access .title .font .reservation {
  font-size: 16px;
  margin-bottom: 8px;
}
.access .title .font .tel {
  font-size: 22px;
  margin-bottom: 40px;
}
.access .title .font .underline {
  border: 1px solid #6a6868;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.access .title .font p {
  font-size: 16px;
  margin-bottom: 20px;
}
.access .title .font .display {
  text-align: center;
  font-size: 16px;
  margin-bottom: 53px;
}
@media screen and (min-width: 768px) {
  .access .title .font .display {
    margin-bottom: 0;
  }
}

footer {
  background-color: black;
  color: white;
  height: auto;
  width: 100%;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  footer {
    height: auto;
    padding-bottom: 30px;
  }
}
footer .inner {
  padding-top: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  footer .inner {
    max-width: 1000px;
    padding-top: 30px;
  }
}
footer .inner h1 {
  font-size: 24px;
  margin-bottom: 35px;
}
@media screen and (min-width: 768px) {
  footer .inner h1 {
    font-size: 45px;
    margin-bottom: 50px;
  }
}
footer .inner .address {
  display: flex;
  gap: 10px;
}
footer .inner p {
  line-height: 1;
  font-size: 10px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  footer .inner p {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
footer .inner .number {
  display: flex;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  footer .inner .number p {
    font-size: 20px;
  }
}

.fv {
  padding-top: 111px;
}
.fv .bg_2 {
  display: flex;
  justify-content: center;
}
.fv .bg_2 img {
  width: 100%;
  height: 190px;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .fv .bg_2 img {
    max-width: 1200px;
    height: 560px;
    object-fit: cover;
    margin-top: 57px;
  }
}

.recruit {
  justify-content: center;
  align-items: center;
}
.recruit .inner {
  text-align: center;
  width: 90%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
.recruit .inner h2 {
  font-size: 15px;
  margin-top: 43px;
}
@media screen and (min-width: 768px) {
  .recruit .inner h2 {
    font-size: 32px;
    margin-top: 151px;
  }
}
.recruit .inner .bo {
  font-size: 10px;
  margin-top: 31px;
}
@media screen and (min-width: 768px) {
  .recruit .inner .bo {
    font-size: 24px;
    margin-top: 85px;
  }
}
.recruit .inner .main {
  color: red;
  font-size: 15px;
  margin-top: 31px;
}
@media screen and (min-width: 768px) {
  .recruit .inner .main {
    font-size: 32px;
    margin-top: 85px;
  }
}
.recruit .inner h2.inner_p {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 52px;
}
@media screen and (min-width: 768px) {
  .recruit .inner h2.inner_p {
    font-size: 32px;
    margin-top: 19px;
    margin-bottom: 85px;
  }
}/*# sourceMappingURL=style.css.map */