@charset "utf-8";
$breakpoints: (
  "sm": "screen and (min-width: 576px)",
  "md": "screen and (min-width: 768px)",
  "lg": "screen and (min-width: 992px)",
  "xl": "screen and (min-width: 1200px)",
) !default;
@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
//アンカーリンクの余白調整
html{
  scroll-padding-top: 20px;
}
body {
  margin: 0px;
  font-family: "Noto Serif JP", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro",
    "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  letter-spacing: 0.05em;
  width: 100%;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
object,
iframe,
pre,
code,
p,
blockquote,
form,
fieldset,
legend,
table,
th,
td,
caption,
tbody,
tfoot,
thead,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.border {
  max-width: 90%;
  @include media(md) {
    max-width: 1000px;
  }
}

body {
  width: 100%;
  background: url('../image/background.jpeg') no-repeat center center fixed; 
      // -webkit-background-size: cover;
      // -moz-background-size: cover;
      // -o-background-size: cover;
      // background-size: cover;
      // -webkit-background-size: 1920px 1080px;
      // background-size: 1920px 1080px;
      @media (max-width: 600px) {
        -webkit-background-size: auto 100%;
        background-size: auto 100%;
      }
    
      @media (min-width: 600px) {
        -webkit-background-size: cover;
        background-size: cover; 
      } 

  .pc{
    display: none;
  }
  @include media(md) {
    .sp{
      display: none;
    }
    .pc{
      display: block;
    }
  }
  // #loader {
  //   z-index: 100;
  //   text-align: center;  
  //   position: fixed;
  //   width: 100%;
  //   height: 100%;
  //   background: url('../image/background.jpeg') no-repeat center center fixed; 
  //     -webkit-background-size: cover;
  //     -moz-background-size: cover;
  //     -o-background-size: cover;
  //     background-size: cover;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   .dot {
  //     display: inline-block;
  //     width: 20px;
  //     height: 20px;
  //     border-radius: 50%;
  //     margin: 0 5px;
  //     background: #000;  
  //     animation: load 1.2s ease infinite;
  //   }
  // }
  // @keyframes load {
  //   0% {opacity: 1;}
  //   50% {opacity: 0.2;}  
  //   100% {opacity: 1;}
  // }

  header {
    display: flex;
    position: fixed;
    z-index: 30;
    height: 90px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 17px;
    padding-right: 27px;
    .logo-link {
      display: flex;
      align-items: center;

      img.logo {
        width: 30px;
        height: 30px;
      }
      h1.logo-text {
        color: black;
        font-size: 32px;
        font-weight: bold;
      }
    }

    > ul.nav_list {
      display: none;
    }

    .menu-icon {
      .drawer_hidden {
        display: none;
      }

      .drawer_open {
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 100;
        cursor: pointer;

        span,
        span:before,
        span:after {
          content: "";
          display: block;
          height: 1px;
          width: 34px;
          border-radius: 3px;
          background: #333;
          transition: 0.4s;
          position: absolute;
        }

        span:before {
          bottom: 12px;
        }

        span:after {
          top: 12px;
        }
      }

      #drawer_input:checked ~ .drawer_open span {
        background: rgba(255, 255, 255, 0);
      }

      #drawer_input:checked ~ .drawer_open span::before {
        bottom: 0;
        transform: rotate(45deg);
      }

      #drawer_input:checked ~ .drawer_open span::after {
        top: 0;
        transform: rotate(-45deg);
      }
      #drawer_input:checked ~ .nav_content {
        left: 0;
        @include media(md) {
          display: none;
        }
      }

      .nav_content {
        width: 100%;
        height: 100%;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 100%;
        z-index: 99;
        background: #fff;
        transition: 0.5s;
        @include media(md) {
          display: flex;
        }

        .nav_list {
          flex-direction: column;
          align-items: center;
          text-align: center;
          justify-content: center;
          display: block;
          margin-top: 80px;
          @include media(md) {
            display: flex;
          }
          a {
            list-style: none;
            line-height: 5;
            letter-spacing: 10px;
            text-decoration: none;
            display: block;
            color: black;
            font-family: "Noto Serif JP", serif;
            text-decoration: none;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }

    @include media(md) {
      height: 128px;
      width: 100%;
      .logo-link {
        display: flex;
        margin-left: 42px;
        img.logo {
          width: 100px;
          height: 100px;
        }
        h1.logo-text {
          margin-left: 27px;
        }
      }
      > ul.nav_list {
        display: flex;
        color: #333;
        .nav_item a {
          color: #333;
          font-size: 20px;
          margin-top: 57px;
          margin-bottom: 57px;
          margin-right: 40px;
        }
      }
      .menu-icon {
        display: none;
        .nav_content {
          display: none;
        }
      }
    }
  }
  section{
    padding-top: 60px;
    padding-bottom: 80px;
    .inner{
      width: 90%;
      margin-right: auto;
      margin-left: auto;
      max-width: 1000px;
      h2{
        font-size: 26px;
        margin-bottom: 60px;
      }
    }
  }
  section.fv {
    padding-top: 90px;
    padding-bottom: 0px;
    .bg {
      display: flex;
      justify-content: center;
      img {
        width: 100%;
        height: 750px;
        object-fit: cover;
        @include media(md) {
          max-width: 1200px;
          height: 450px;
          object-fit: cover;
          margin-top: 60px;
        }
      }
    }
  }
  #about {
    display: flex;
    justify-content: center;
    align-items: center;
    @include media(md) {
      padding-bottom: 120px;
    }
    .inner {
      text-align: center;
      h2 {
        color: black;
      }
      p {
        font-size: 16px;
        color: black;
        line-height: 2;
        margin-bottom: 60px;
        @include media(md) {
          margin-bottom: 80px;
        }
      }
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        @include media(md) {
          width: 100%;
          height: 400px;
          object-fit: cover;
        }
      }
    }
  }
  #food,
  #room
  {
    .title{
      text-align: center;
      h2 {
        // font-size: 32px;
        margin-bottom: 60px;
      }
    }
    .inner{
      .img-show {
        position: relative;
        width: 100%;
        height: 195px;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 60px;
        @include media(md) {
          display: none;
        }

        .img-01,
        .img-02,
        .img-03 {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            align-items: center;
          }
        }
        .img-01 {
          animation: slide-animation-01 24s infinite;
        }

        .img-02 {
          animation: slide-animation-02 24s infinite;
        }

        .img-03 {
          animation: slide-animation-03 24s infinite;
        }
        @keyframes slide-animation-01 {
          0% {
            opacity: 1;
            transform: scale(1);
          }
          30% {
            opacity: 1;
          }
          40% {
            opacity: 0;
            transform: scale(1.15);
          }
          90% {
            opacity: 0;
          }
          100% {
            opacity: 1;
            transform: scale(1);
          }
        }

        @keyframes slide-animation-02 {
          0% {
            opacity: 0;
          }
          30% {
            opacity: 0;
            transform: scale(1.1);
          }
          40% {
            opacity: 1;
          }
          60% {
            opacity: 1;
          }
          70% {
            opacity: 0;
            transform: scale(1);
          }
          100% {
            opacity: 0;
          }
        }

        @keyframes slide-animation-03 {
          0% {
            opacity: 0;
          }
          60% {
            opacity: 0;
            transform: scale(1);
          }
          70% {
            opacity: 1;
          }
          90% {
            opacity: 1;
          }
          100% {
            opacity: 0;
            transform: scale(1.1);
          }
        }
      }
      @include media(md){
        .img-slide{
          margin-bottom: 80px;  
          .slick-slide {
            width: 1000px; /* スライドの幅を指定 */
            height: 350px; /* スライドの高さを指定 */
            overflow: hidden; /* 内容がはみ出た場合は隠す */
            img {
              width: 100%; /* 画像の幅を親要素に合わせて100%に設定 */
              height: 100%; /* 画像の高さを親要素に合わせて100%に設定 */
              object-fit: cover; /* 画像を中央に配置し、アスペクト比を保ったまま切り取る */
            }
          }
        }
      }
      .wrapper{
        text-align: center;
        .launch,
        .dinner
         {
          margin-bottom: 40px;
          .title {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
          }
          .text {
            font-size: 14px;
            line-height: 2;
          }
        }
      }
    }
  }
  #guide{
    .title{
      text-align: center;
      h2 {
        margin-bottom: 60px;
      }
      p {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
      }
    }
    .inner{
      margin-right: auto;
      margin-left: auto;
      max-width: 1000px;
      .img-show{
        position: relative;
        width: 100%;
        height: 195px;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 60px;

        .img-07,
        .img-08,
        .img-09 {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            align-items: center;
          }
        }
        .img-07 {
          animation: slide-animation-01 24s infinite;
        }

        .img-08 {
          animation: slide-animation-02 24s infinite;
        }

        .img-09 {
          animation: slide-animation-03 24s infinite;
        }

        @keyframes slide-animation-01 {
          0% {
            opacity: 1;
            transform: scale(1);
          }
          30% {
            opacity: 1;
          }
          40% {
            opacity: 0;
            transform: scale(1.15);
          }
          90% {
            opacity: 0;
          }
          100% {
            opacity: 1;
            transform: scale(1);
          }
        }

        @keyframes slide-animation-02 {
          0% {
            opacity: 0;
          }
          30% {
            opacity: 0;
            transform: scale(1.1);
          }
          40% {
            opacity: 1;
          }
          60% {
            opacity: 1;
          }
          70% {
            opacity: 0;
            transform: scale(1);
          }
          100% {
            opacity: 0;
          }
        }

        @keyframes slide-animation-03 {
          0% {
            opacity: 0;
          }
          60% {
            opacity: 0;
            transform: scale(1);
          }
          70% {
            opacity: 1;
          }
          90% {
            opacity: 1;
          }
          100% {
            opacity: 0;
            transform: scale(1.1);
          }
        }
      }
      .img-slide{
        .slick-slide {
          width: 1000px; /* スライドの幅を指定 */
          height: 350px; /* スライドの高さを指定 */
          overflow: hidden; /* 内容がはみ出た場合は隠す */
          img {
            width: 100%; /* 画像の幅を親要素に合わせて100%に設定 */
            height: 100%; /* 画像の高さを親要素に合わせて100%に設定 */
            object-fit: cover; /* 画像を中央に配置し、アスペクト比を保ったまま切り取る */
          }
        }
      }
      .wrapper{
        text-align: center;
        line-height: 1.4;
        .intro {
          font-size: 16px;
          font-weight: bold;
          margin-top: 80px;
          margin-bottom: 20px;
          @include media(md) {
            font-size: 18px;
          }
        }
        .content {
          font-size: 15px;
          line-height: 2;
          margin-bottom: 40px;
          @include media(md) {
            font-size: 16px;
          }
        }
        .price {
          font-size: 16px;
          line-height: 1.8;
          margin-bottom: 40px;
        }
        .reserve {
          font-size: 14px;
          line-height: 1.8;
        }
      }
    }
  }
  #first-time{
    .title{
      text-align: center;
      h2 {
        // font-size: 32px;
        margin-bottom: 60px;
      }
    }
    .inner{
      .content{
        text-align: center;
        // line-height: 1.4;
        font-size: 15px;
        line-height: 2;
        margin-bottom: 40px;
        @include media(md) {
          font-size: 16px;
        }
      }
    }
  }
  #access {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    @include media(md) {
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
    }
    h2 {
      text-align: center;
      font-size: 26px;
      margin-bottom: 60px;
    }
    .title {
      @include media(md) {
        display: flex;
        flex-direction: row-reverse;
      }
      iframe {
        @include media(md) {
          width: 50%;
          max-height: 445px;
        }
      }
      .font {
        width: 100%;
        margin-left: 20px;
        line-height: 1.5;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        @include media(md) {
          width: 50%;
        }
        .reservation {
          font-size: 16px;
          margin-bottom: 8px;
        }

        .tel {
          font-size: 22px;
          margin-bottom: 40px;
        }
        .underline {
          border: 1px solid #6a6868;
          width: 80%;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 40px;
        }
        p {
          font-size: 16px;
          margin-bottom: 20px;
        }
        .display {
          text-align: center;
          font-size: 16px;
          margin-bottom: 53px;
          @include media(md) {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  footer {
    background-color: black;
    color: white;
    height: auto;
    width: 100%;
    padding-bottom: 20px;
    @include media(md) {
      height: auto;
      padding-bottom: 30px;
    }
    .inner {
      padding-top: 20px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      @include media(md) {
        max-width: 1000px;

        padding-top: 30px;
      }
      h1 {
        font-size: 24px;
        margin-bottom: 35px;
        @include media(md) {
          font-size: 45px;
          margin-bottom: 50px;
        }
      }
      .address {
        display: flex;
        gap: 10px;
      }
      p {
        line-height: 1;
        font-size: 10px;
        margin-bottom: 10px;
        @include media(md) {
          font-size: 20px;
          margin-bottom: 20px;
        }
      }
      .number {
        display: flex;
        gap: 10px;
        align-items: center;
        p {
          @include media(md) {
            font-size: 20px;
          }
          // a{
          //   color: white;
          // }
        }
        .tel {
          color: white;
          @include media(md) {
            font-size: 25px;
          }
        }
      }
    }
  }
}
.fv {
  // padding-top: 111px;
  .bg_2 {
    display: flex;
    justify-content: center;
    img {
      width: 100%;
      height: 190px;
      object-fit: cover;
      margin-bottom: 50px;
      @include media(md) {
        max-width: 1200px;
        height: 560px;
        object-fit: cover;
        margin-top: 57px;
        margin-bottom: 100px;
      }
    }
  }
}

.recruit {
  justify-content: center;
  align-items: center;
  .inner {
    text-align: center;
    width: 90%;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    h2 {
      font-size: 16px;
      margin-bottom: 30px;
      @include media(md) {
        font-size: 32px;
        margin-bottom: 80px;
      }
    }
    .text {
      display: block;
      font-size: 14px;
      margin-bottom: 30px;
      line-height: 2;
      letter-spacing: -0.5px;
      @include media(md) {
        display: none;
      }
    }
    .pc_text {
      display: none;
      @include media(md) {
        display: block;
        line-height: 2;
        font-size: 24px;
        margin-bottom: 80px;
        letter-spacing: 0px;
      }
    }

    .main {
      color: #cb3c3c;
      font-size: 16px;
      margin-bottom: 20px;
      @include media(md) {
        font-size: 28px;
        margin-bottom: 60px;
      }
    }
    h2.inner_p {
      font-size: 14px;

      margin-bottom: 0px;
      @include media(md) {
        font-size: 24px;

        margin-bottom: 100px;
      }
    }
  }
}
