@charset "utf-8";
$breakpoints: (
  "sm": "screen and (min-width: 576px)",
  "md": "screen and (min-width: 768px)",
  "lg": "screen and (min-width: 992px)",
  "xl": "screen and (min-width: 1200px)",
) !default;
@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
body {
  margin: 0px;
  font-family: "Noto Serif JP", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro",
    "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  letter-spacing: 0.05em;
  width: 100%;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
object,
iframe,
pre,
code,
p,
blockquote,
form,
fieldset,
legend,
table,
th,
td,
caption,
tbody,
tfoot,
thead,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  header {
    display: flex;
    position: relative;
  }
  .logo {
    font-weight: bold;
    font-family: "Noto Serif JP", serif;
    margin-right: 50px;
    margin-bottom: 20px;
    color: black;
  }
}
.menu-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    margin-bottom: 5px;
    transition: 0.4s;
  }
  &.close {
    span {
      &:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
        z-index: 10;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
        z-index: 10;
      }
    }
  }
}
.nav-list {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  &.show {
    display: flex;
  }

  a {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 5;
    letter-spacing: 10px;
    text-decoration: none;
    color: black;
    font-family: "Noto Serif JP", serif;
  }
}
#slide {
  width: 390px;
  height: 750px;

  .bg {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
