@charset "utf-8";
$breakpoints: (
  "sm": "screen and (min-width: 576px)",
  "md": "screen and (min-width: 768px)",
  "lg": "screen and (min-width: 992px)",
  "xl": "screen and (min-width: 1200px)",
) !default;
@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
body {
  margin: 0px;
  font-family: "Noto Serif JP", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro",
    "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  letter-spacing: 0.05em;
  width: 100%;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
object,
iframe,
pre,
code,
p,
blockquote,
form,
fieldset,
legend,
table,
th,
td,
caption,
tbody,
tfoot,
thead,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  // width: 100vw;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  header {
    display: flex;
    position: fixed;
    z-index: 30;
    height: 90px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 17px;
    padding-right: 27px;
    .logo-link {
      display: flex;
      align-items: center;

      img.logo {
        width: 30px;
        height: 30px;
      }
      h1 {
        color: black;
        font-size: 32px;
        font-weight: bold;
      }
    }
    .menu-icon {
      .drawer_hidden {
        display: none;
      }

      .drawer_open {
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 100;
        cursor: pointer;

        span,
        span:before,
        span:after {
          content: "";
          display: block;
          height: 1px;
          width: 34px;
          border-radius: 3px;
          background: #333;
          transition: 0.4s;
          position: absolute;
        }

        span:before {
          bottom: 12px;
        }

        span:after {
          top: 12px;
        }
      }

      #drawer_input:checked ~ .drawer_open span {
        background: rgba(255, 255, 255, 0);
      }

      #drawer_input:checked ~ .drawer_open span::before {
        bottom: 0;
        transform: rotate(45deg);
      }

      #drawer_input:checked ~ .drawer_open span::after {
        top: 0;
        transform: rotate(-45deg);
      }
      #drawer_input:checked ~ .nav_content {
        left: 0;
        @include media(md) {
          display: none;
        }
      }

      .nav_content {
        width: 100%;
        height: 100%;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 100%;
        z-index: 99;
        background: #fff;
        transition: 0.5s;
        @include media(md) {
          display: flex;
        }

        .nav_list {
          flex-direction: column;
          align-items: center;
          text-align: center;
          justify-content: center;
          display: block;
          margin-top: 80px;
          @include media(md) {
            display: flex;
          }
          a {
            list-style: none;
            line-height: 5;
            letter-spacing: 10px;
            text-decoration: none;
            display: block;
            color: black;
            font-family: "Noto Serif JP", serif;
            text-decoration: none;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }

    > ul.nav_list {
      display: none;
    }
    @include media(md) {
      height: 128px;
      width: 100%;
      .logo-link {
        display: flex;
        margin-left: 42px;
        img.logo {
          width: 100px;
          height: 100px;
        }
        h1 {
          margin-left: 27px;
        }
      }
      > ul.nav_list {
        display: flex;
        color: #333;
        .nav_item a {
          color: #333;
          font-size: 20px;
          margin-top: 57px;
          margin-bottom: 57px;
          margin-right: 40px;
        }
      }
      .menu-icon {
        display: none;
      }
      .nav_content {
        display: none;
      }
    }
  }
  section.fv {
    // margin-top: 49px;
    padding-top: 111px;

    .bg {
      display: flex;
      justify-content: center;
      img {
        width: 100%;
        height: 750px;
        object-fit: cover;
        @include media(md) {
          max-width: 1200px;
          height: 560px;
          object-fit: cover;
          margin-top: 57px;
        }
      }
    }
  }
  section.about {
    display: flex;
    justify-content: center;
    align-items: center;
    .inner {
      text-align: center;
      width: 90%;
      max-width: 1000px;
      margin-right: auto;
      margin-left: auto;
      h2 {
        font-size: 32px;
        color: black;
        margin-top: 12px;
        margin-bottom: 13px;
        @include media(md) {
          font-size: 40px;
          margin-top: 57px;
        }
      }
      p {
        font-size: 18px;
        color: black;
        line-height: 2;
        margin-bottom: 25px;
        @include media(md) {
          font-size: 24px;
          text-align: left;
          // margin: 0 220px;
          margin-top: 60px;
        }
      }
      img {
        width: 355px;
        height: 200px;
        object-fit: cover;
        @include media(md) {
          width: 1000px;
          height: 400px;
          object-fit: cover;
          // margin: 0 220px;
          margin-top: 32px;
          margin-bottom: 47px;
        }
      }
    }
  }
  .title {
    text-align: center;
    h2 {
      font-size: 32px;
      margin-bottom: 51px;
      @include media(md) {
        margin-top: 47px;
      }
    }
  }
  section.food {
    @include media(md) {
      .title {
        h2 {
          font-size: 40px;
        }
      }
    }
    .inner {
      width: 90%;
      margin-right: auto;
      margin-left: auto;

      .food_course {
        display: flex;
        justify-content: space-between;
        align-items: center;
        div {
          text-align: center;
          line-height: 1.4;
        }
        // .img-frame {
        //   position: relative;
        //   width: 165px;
        //   height: 195px;
        //   overflow: hidden;
        //   margin: 0 auto;
        //   margin-bottom: 5px;

        //   .img-01,
        //   .img-02,
        //   .img-03 {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     img {
        //       width: 100%;
        //       height: 100%;
        //       object-fit: cover;
        //     }
        //   }
        //   .img-01 {
        //     animation: slide-animation-01 24s infinite;
        //   }

        //   .img-02 {
        //     animation: slide-animation-02 24s infinite;
        //   }

        //   .img-03 {
        //     animation: slide-animation-03 24s infinite;
        //   }

        //   @keyframes slide-animation-01 {
        //     0% {
        //       opacity: 1;
        //       transform: scale(1);
        //     }
        //     30% {
        //       opacity: 1;
        //     }
        //     40% {
        //       opacity: 0;
        //       transform: scale(1.15);
        //     }
        //     90% {
        //       opacity: 0;
        //     }
        //     100% {
        //       opacity: 1;
        //       transform: scale(1);
        //     }
        //   }

        //   @keyframes slide-animation-02 {
        //     0% {
        //       opacity: 0;
        //     }
        //     30% {
        //       opacity: 0;
        //       transform: scale(1.1);
        //     }
        //     40% {
        //       opacity: 1;
        //     }
        //     60% {
        //       opacity: 1;
        //     }
        //     70% {
        //       opacity: 0;
        //       transform: scale(1);
        //     }
        //     100% {
        //       opacity: 0;
        //     }
        //   }

        //   @keyframes slide-animation-03 {
        //     0% {
        //       opacity: 0;
        //     }
        //     60% {
        //       opacity: 0;
        //       transform: scale(1);
        //     }
        //     70% {
        //       opacity: 1;
        //     }
        //     90% {
        //       opacity: 1;
        //     }
        //     100% {
        //       opacity: 0;
        //       transform: scale(1.1);
        //     }
        //   }
        // }
        // .slide-container {
        //   width: 100%;
        //   margin: $slide-container-margin auto;
        //   display: flex;
        //   align-items: center;
        //   overflow: hidden;

        //   .slide-wrapper {
        //     display: flex;
        //     animation: slide-flow $slide-duration infinite linear $slide-delay
        //       both;
        //   }

        //   .slide {
        //     width: 340px;
        //     object-fit: cover;
        //     border: 1px solid black;
        //   }
        // }
        // @include media(md) {
        //   .img-frame {
        //     display: none;
        //   }
        //   .slide-wrapper {
        //     display: flex;
        //     animation: slide-flow $slide-duration infinite linear $slide-delay
        //       both;
        //   }
        //   .slide {
        //     width: 300px;
        //     object-fit: cover;
        //     border: 1px solid #ddd;
        //   }
        // }
        // @keyframes slide-flow {
        //   0% {
        //     transform: translateX(0);
        //   }
        //   100% {
        //     transform: translateX(-100%);
        //   }
        // }

        // .slide-container {
        //   display: none;
        // }
        // @include media(md) {
        //   .food_course {
        //     flex-direction: column;
        //     justify-content: space-between;
        //     align-items: center;
        //   }
        // }
      }
      .title {
        font-size: 20px;
        font-weight: bold;
      }
      .text {
        font-size: 10px;
        line-height: 2.4;
      }
    }
  }
}
//   }
// }
.guidance {
  .title {
    p {
      font-size: 14px;
      font-weight: bold;
    }
  }
  @include media(md) {
    .title {
      h2 {
        font-size: 40px;
      }
      p {
        font-size: 24px;
      }
    }
  }
  .inner {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    .guidance_course {
      display: flex;
      justify-content: space-between;
      align-items: center;
      div {
        text-align: center;
        line-height: 1.4;
      }
      .text {
        font-size: 18px;
        line-height: 2.4;
      }
      @include media(md) {
        .text {
          font-size: 24px;
          margin: auto;
          text-align: left;
          margin: 0 220px;
          margin-top: 60px;
          margin-bottom: 82px;
        }
      }
    }
    .image {
      display: flex;
      justify-content: space-between;
      @include media(md) {
        display: none;
      }
      img {
        width: 170px;
        height: 200px;
        object-fit: cover;
      }
    }
  }

  .pc_inner {
    display: none;
    @include media(md) {
      display: block;
      width: 1020px;
      justify-content: center;
      margin: 0 210px;
      .pc_image {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
          width: 333px;
          height: 333px;
          margin-bottom: 90px;
        }
      }
    }
  }
}
.access {
  display: block;
  @include media(md) {
    display: none;
  }
  h1 {
    margin-bottom: 35px;
  }
  .Bo {
    font-size: 14px;
    font-weight: bold;
  }
  .B_o {
    font-size: 20px;
  }
  p {
    margin-bottom: 35px;
  }
}
.PC_access {
  display: none;
}
@include media(md) {
  .PC_access {
    display: block;
    h2 {
      text-align: center;
      font-size: 40px;
      margin-top: 95px;
    }
    .PC_title {
      display: flex;

      iframe {
        margin-top: 138px;
        margin-left: 121px;
        margin-bottom: 90px;
      }
      .font {
        text-align: center;
        line-height: 2.4;
        margin-top: 223px;
        margin-left: 114px;
        .Bo {
          font-size: 24px;
        }
        .B_o {
          font-size: 32px;
        }
        p {
          font-size: 20px;
        }
        h1 {
          font-size: 36px;
        }
      }
    }
    .display {
      text-align: center;
      font-size: 20px;
      margin-bottom: 53px;
    }
  }
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
  height: 150px;
  width: 100%;
  box-sizing: border-box;
  @include media(md) {
    height: 390px;
  }
  h1 {
    font-size: 24px;
    margin-bottom: 35px;
    @include media(md) {
      font-size: 64px;
      margin-top: 55px;
      margin-left: 116px;
      margin-bottom: 50px;
    }
  }
  .address {
    display: flex;
    gap: 10px;
  }
  p {
    line-height: 1;
    font-size: 10px;
    margin-bottom: 10px;
    @include media(md) {
      font-size: 20px;
      margin-bottom: 29px;
    }
  }
  .fo {
    margin: 0;
    @include media(md) {
      font-size: 24px;
      margin-left: 116px;
      margin-bottom: 29px;
    }
  }
  .tel {
    font-size: 15px;
    font-weight: bold;
    @include media(md) {
      font-size: 32px;
      margin-bottom: 29px;
    }
  }
}
.fv {
  padding-top: 111px;
  .bg_2 {
    display: flex;
    justify-content: center;
    img {
      width: 100%;
      height: 190px;
      object-fit: cover;
      @include media(md) {
        max-width: 1200px;
        height: 560px;
        object-fit: cover;
        margin-top: 57px;
      }
    }
  }
}

.recruit {
  justify-content: center;
  align-items: center;
  .inner {
    text-align: center;
    width: 90%;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    h2 {
      font-size: 15px;
      margin-top: 43px;
      @include media(md) {
        font-size: 32px;
        margin-top: 151px;
      }
    }
    .bo {
      font-size: 10px;
      margin-top: 31px;
      @include media(md) {
        font-size: 24px;
        margin-top: 85px;
      }
    }
    .main {
      color: red;
      font-size: 15px;
      margin-top: 31px;
      @include media(md) {
        font-size: 32px;
        margin-top: 85px;
      }
    }
    h2.inner_p {
      font-size: 15px;
      margin-top: 10px;
      margin-bottom: 52px;
      @include media(md) {
        font-size: 32px;
        margin-top: 19px;
        margin-bottom: 85px;
      }
    }
  }
}
